<div class="score_keeper" ng-controller="ScoreKeepersCtrl as skeeps">
  <div class="Welcome">
    Welcome to the GAME EDIT PAGE!!!
  </div>

  <div class="identifiers">
    <div class="fg_missed_button" ng-click="skeeps.selectType(1)">
      SHOTS MISS
      <h1>{{skeeps.missed_fieldgoals.length}}</h1>
    </div>
    <div class="fg_made_button" ng-click="skeeps.selectType(2)">
      SHOTS MADE
      <h1>{{skeeps.made_fieldgoals.length}}</h1>
    </div>
    <div class="rebound_button" ng-click="skeeps.selectType(3)">
      REBOUNDS
      <h1>{{skeeps.rebounds.length}}</h1>
    </div>
    <div class="steal_button" ng-click="skeeps.selectType(4)">
      STEALS
      <h1>{{skeeps.steals.length}}</h1>
    </div>
    <div class="turnover_button" ng-click="skeeps.selectType(5)">
      TURNOVERS
      <h1>{{skeeps.turnovers.length}}</h1>
    </div>
    <div class="block_button" ng-click="skeeps.selectType(6)">
      BLOCKS
      <h1>{{skeeps.blocks.length}}</h1>
    </div>

  </div>

  <div class="court" ng-click="skeeps.recordStats($event, skeeps.type)">

  </div>

</div>
