<div class="score_keeper" ng-controller="ScoreKeepersCtrl as skeeps">
  <div class="Welcome">
    Welcome to the GAME EDIT PAGE!!!
  </div>

  <div class="identifiers">

    <a href><div class="fg_missed_button" ng-click="skeeps.selectType(1)">
      SHOTS MISS
      <h1>{{skeeps.missed_fieldgoals.length}}</h1>
    </div></a>

    <a href><div class="fg_made_button" ng-click="skeeps.selectType(2)">
      SHOTS MADE
      <h1>{{skeeps.made_fieldgoals.length}}</h1>
    </div></a>

    <a href><div class="rebound_button" ng-click="skeeps.selectType(3)">
      REBOUNDS
      <h1>{{skeeps.rebounds.length}}</h1>
    </div></a>

    <a href><div class="steal_button" ng-click="skeeps.selectType(4)">
      STEALS
      <h1>{{skeeps.steals.length}}</h1>
    </div></a>

    <a href><div class="turnover_button" ng-click="skeeps.selectType(5)">
      TURNOVERS
      <h1>{{skeeps.turnovers.length}}</h1>
    </div></a>

    <a href><div class="block_button" ng-click="skeeps.selectType(6)">
      BLOCKS
      <h1>{{skeeps.blocks.length}}</h1>
    </div></a>

    <a href ng-href="http://localhost:3000/game/<%= @game_id %>"><div class="heatmap_button">
      <h1>HEATMAP</h1>
    </div></a>

    <div class="game_over_button" id="game_over">Game Over?</div>

      <div class="game_over_form" id="game_over_form">
      <ul >
        <%= form_for @game do |f|%>
          <li><label class="win" for="win"><p>Win?</p></label>
            <input type="checkbox" name="win" value="win"></li>
          <li><label class="loss" for="loss"><p>Loss?</p></label>
            <input type="checkbox" name="loss" value="loss"></li>
          <button class="btn btn-primary btn-block">Submit</button>
        <% end %>
      </ul>
    </div>
  </div>


  <input id="game_id" value="<%= @game_id %>" type="hidden">

  <a href><div class="court" ng-click="skeeps.recordStats($event, skeeps.type)">
  </div></a>

</div>
