<div class="score_keeper" ng-controller="ScoreKeepersCtrl as skeeps">
  <div class="Welcome">
    Welcome to the GAME EDIT PAGE!!!
  </div>

  <div class="identifiers">

  </div>

  <div class="heat_court">

  </div>

</div>
