<div ng-controller="DashboardCtrl as dash">
   <h1>Coach <%= @user.name %></h1><br>

<!-- TEAMS ROW -->
  <h2 ng-class="{ active: dash.isSet('teams') }">
    <a href ng-click="dash.selectRow('teams')">Teams</a>
  </h2>
  <!-- REPEAT DIV PER TEAM -->
  <div ng-show="dash.isSet('teams')" class="teams">
    <div class="dash dash-team" ng-repeat="team in dash.teams" ng-click="dash.showDerivative({team: team.id},'seasons')">
      {{team.id}} {{team.name}}
    </div>
  </div>

<!-- SEASONS ROW -->
  <h2 ng-class="{ active: dash.isSet('seasons') }">
    <a href ng-click="dash.selectRow('seasons')">Season</a>
  </h2>
  <!-- REPEAT DIV PER SEASON -->
  <div ng-show="dash.isSet('seasons')" class="seasons">
    <div class="dash dash-season" ng-repeat="season in dash.seasons" ng-show="season.team_id === dash.team_id" ng-click="dash.showDerivative({season: season.id},'games')">
      {{season.team_id}} {{season.name}} TEAMID:{{dash.team_id}}
    </div>
  </div>

<!-- GAMES ROW -->
  <h2 ng-class="{ active: dash.isSet('games') }">
    <a href ng-click="dash.selectRow('games')">Games</a>
  </h2>
  <!-- REPEAT DIV PER GAME -->
  <div ng-show="dash.isSet('games')" class="games">
    <div class="dash dash-game" ng-repeat="game in dash.games" ng-show="game.season_id === dash.season_id">
      {{game.opponent}} {{game.date}} {{game.win}} {{game.team_score}} {{game.opp_score}} {{game.season}} SEASONID: {{dash.season_id}}
    </div>
  </div>

  <%= link_to("create new season", new_season_path) %>

</div>