<div>
    <div class ="mid_div">
      <h1>
        half<span style="color:#FA8320">C</span>ourt <span style="color:#FA8320">P</span>ress
      </h1>
    </div>
    <div class = "about_div">
      <h2>
        halfCourt Press is a platform designed for basketball programs to track, collect and analyze game statistics over the course of a season.
      </h2>
    </div>
    <hr>
  <!--   <p class="center">
      Track <span style="color:blue">made</span> and <span style="color:red">missed shots</span>
    </p> -->
    <!--  <p class="center">
     Heat map
    </p> -->

    <div class = "make_miss_div">

    </div>

    <div class = "made_heat_div">

    </div>

    <div class = "miss_heat_div">
    </div>

      <hr>
</div>






