<section id='dashboard' class="dash_show" ng-controller="DashboardCtrl as dash">
  <h1 class="dash_coach">
    Coach <%= @user.name %>
  </h1>

<!-- TEAMS SECTION -->
  <section id="teams" class="row-group">
    <h2 class="teams-row active-row" ng-click="dash.toggleRow('teams')">
      {{dash.team_name || "Teams"}}
    </h2>

    <!-- Show teams attached to user -->
    <ul ng-show="dash.isRowVisible('teams')" class="teams row row-transition">
      
      <!-- Add new team button -->
      <li class="add-btn" ng-class="{'selected': dash.isFormVisible('teams')}" ng-click="dash.displayForm('teams')">
        <strong>
          +
        </strong>
      </li>

      <!-- All the teams loaded up -->
      <li ng-repeat="team in dash.teams"
          ng-click="dash.showRowGroup(team, 'team')"
          class="team row row-transition"
          ng-class="{'selected': dash.team_id == team.id}">
        <strong>
          {{team.name}}
        </strong>
      </li>

      <!-- Add new team form -->
      <li ng-show="dash.isFormVisible('teams')" class="add-form row row-transition">
        <form id="team-form" ng-submit="dash.addNewTeam()">
          <input type="text" ng-model="dash.newTeamInfo.name" placeholder="Team Name" title="Name" name="team[name]">
          <input type="text" ng-model="dash.newTeamInfo.school" placeholder="School Name" title="School" name="team[school_name]">
          <input type="submit" value="Create Team" class="btn btn-primary">
        </form>
      </li>
    </ul>
  </section>

<!-- SEASONS SECTION -->
  <section id="seasons" class="row-group">
    <h2 ng-class="{ 'seasons-row': true, 'active-row': dash.isIdSet('team_id')}" ng-click="dash.toggleRowIfPreviousSet('seasons','team_id')">
      {{dash.season_name || "Seasons"}}
    </h2>

    <!-- Show if no season selected -->
    <alert ng-show="dash.showWarning['seasons']" type="danger" close="dash.closeAlert('seasons')">
      Select a team
    </alert>

    <!-- Show seasons attached to team -->
    <ul ng-show="dash.isRowVisible('seasons')" class="seasons row row-transition">
      
      <!-- New-season button -->
      <li class="add-btn"  ng-class="{'selected': dash.isFormVisible('seasons')}" ng-click="dash.displayForm('seasons')">
        <strong>
          +
        </strong>
      </li>

      <!-- Display all seasons attached to team -->
      <li ng-repeat="season in dash.seasons"
          ng-click="dash.showRowGroup(season, 'season')"
          ng-class="{'selected': dash.season_id == season.id}"
          class="season">
        <strong>
          {{season.name}}
        </strong>
      </li>

      <!-- New-season form -->
      <li ng-show="dash.isFormVisible('seasons')" class="add-form">
        <form id="season-form" ng-submit="dash.addNewSeason()">
          <input type="text" ng-model="dash.newSeasonInfo.name" placeholder="Season Name" title="Name" name="season[name]">
          <input type="submit" value="Create Season" class="btn btn-primary">
        </form>
      </li>
    </ul>
  </section>

<!-- GAMES SECTION -->
  <section id="games" class="row-group">
    <h2 ng-class="{ 'games-row': true, 'active-row': dash.isIdSet('season_id')}" ng-click="dash.toggleRowIfPreviousSet('games','season_id')">
      Games
    </h2>

    <!-- Show if no team selected -->
    <alert ng-show="dash.showWarning['games']" type="info" close="dash.closeAlert('games')">
      Select a season
    </alert>

    <!-- Show games attached to team -->
    <ul ng-show="dash.isRowVisible('games')" class="games row row-transition">
      
      <!-- New-team button -->
      <li class="add-btn" ng-class="{'selected': dash.isWarningVisible('games')}" ng-click="dash.displayForm('games')">
        <strong>
          +
        </strong>
      </li>

      <!-- Display all games attached to team -->
      <li ng-repeat="game in dash.games"
          ng-click="dash.showRowGRoup(game, 'game')"
          ng-animate="'animate'"
          ng-class="{'selected': dash.game_id == game.id}"
          class="game">
        <strong id="dateshow">{{game.date | date : "EEE M/d/yy"}}</strong>
        <strong id="opponentshow">{{game.opponent}}</strong>
        <strong id="winshow">{{game.win}}<strong>
      </li>

      <!-- New-team form -->
      <li ng-show="dash.isFormVisible('games')" class="add-form">
        <form id="game-form" ng-submit="dash.addNewGame()">
          <input type="text" ng-model="dash.newGameInfo.name" placeholder="Game Name" title="Name" name="game[name]">
          <input type="submit" value="Create Season" class="btn btn-primary">
        </form>
      </li>
    </ul>
  </section>




    <!-- GAMES ROW -->
    <h2 ng-class="{ 'clear-fix': true, 'games-row': true, 'active-row': dash.isIdSet('season_id')}" ng-click="dash.selectRow('games')">
      Games
    </h2>
    <alert ng-show="dash.showWarning['games']" type="danger" close="dash.closeAlert('games')">
      You must select a season first!
    </alert>


    <!-- Show games per selected game -->
    <div ng-show="dash.isSet('games')" class="games row-transition">

      <!-- Add a new game for selected game -->
      <div class="dash dash-game" ng-click="dash.displayForm('games')">
        <center>
          <h1>+</h1>
        </center>
      </div>

      <form id="gameform" ng-show="dash.shouldDisplay('games')" ng-submit="dash.addNewGame()">
        <fieldset class="form-group">
          <input type="text" class="" placeholder="Date: 9/3/07" title="Date" datepicker-popup="shortDate" ng-model="dash.newGameInfo.date" is-open="dash.dateOpened" min-date="" max-date="n " datepicker-options="dateOptions" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
            <button type="button" class="btn btn-default" ng-click="dash.openDate($event)"><i class="glyphicon glyphicon-calendar fa-lg"></i></button>
         </input>
        </fieldset>
        <fieldset class="form-group">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="dash.newGameInfo.location" btn-radio="'Home'">Home</label>
            <label class="btn btn-primary" ng-model="dash.newGameInfo.location" btn-radio="'Away'">Away</label>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <input ng-model="dash.newGameInfo.opponent" type="text" placeholder="Opponent" title="Opponent">
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" value="Create Game" class="btn btn-primary">
        </fieldset>
      </form>

      <!-- REPEAT DIV PER GAME -->
      <div class="dash dash-game" ng-repeat="game in dash.games" ng-show="game.season_id === dash.season_id">
        <a ><div title="{{dash.season_name}} Season">
          <p id="dateshow">{{game.date | date : "EEE M/d/yy"}}</p>
          <h3 id="opponentshow">{{game.opponent}}</h3>
          <h1 id="winshow">{{game.win}}<h1>
        </div></a>
      </div>

    </div>
  </div>

</div>
