<section id='dashboard' class="dash_show" ng-controller="DashboardCtrl as dash">
  <h1 class="dash_coach">
    Coach <%= @user.name %>
  </h1>

  <section id="teams" class="row-group">
    <h2 class="teams-row active-row" ng-click="dash.toggleRow('teams')">
      {{dash.team_name || "Teams"}}
    </h2>

    <!-- Show teams attached to user -->
    <ul ng-show="dash.isRowVisible('teams')" class="teams row row-transition">
      <li class="add-btn" ng-click="dash.displayForm('teams')">
        <strong>
          +
        </strong>
      </li>

      <li ng-repeat="team in dash.teams"
          ng-click="dash.showRowGroup(team, 'team')"
          ng-animate="'animate'"
          class="team"
          ng-class="{'selected': dash.team_id == team.id}">
        <strong>
          {{team.name}}
        </strong>
      </li>

      <li ng-show="dash.isFormVisible('teams')" class="add-form">
        <form id="team-form" ng-submit="dash.addNewTeam()">
          <input type="text" ng-model="dash.newTeamInfo.name" placeholder="Team Name" title="Name" name="team[name]">
          <input type="text" ng-model="dash.newTeamInfo.school" placeholder="School Name" title="School" name="team[school_name]">
          <input type="submit" value="Create Team" class="btn btn-primary">
        </form>
      </li>
    </ul>
  </section>









<!--   <div class="seasons_row">
 -->    <!-- SEASONS ROW -->
    <h2 ng-class="{ 'clear-fix': true, 'seasons-row': true, 'active-row': dash.isIdSet('team_id') }" ng-click="dash.selectRow('seasons')">
      {{ dash.season_name || "Season"}}
    </h2>
    <alert ng-show="dash.showWarning['seasons']" type="danger" close="dash.closeAlert('seasons')">
      You must select a team first!
    </alert>

    <!-- Show seasons per selected team -->
    <div ng-show="dash.isSet('seasons')" class="seasons row-transition">


      <!-- Add a new season for selected team -->
      <div class="dash dash-season" ng-click="dash.displayForm('seasons')">
        <center>
          <h1>+</h1>
          {{dash.newSeasonInfo.name}} {{dash.newSeasonInfo.school}}
        </center>
      </div>

      <form id="seasonform" ng-show="dash.shouldDisplay('seasons')" ng-submit="dash.addNewSeason()">
        <!-- <h3>Create a Season for {{ dash.team_name }}!</h3> -->
        <fieldset class="form-group">
          <input ng-model="dash.newSeasonInfo.name" type="text" placeholder="1988-89" title="Name">
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" value="Create Season" class="btn btn-primary">
        </fieldset>
      </form>

      <!-- REPEAT DIV PER SEASON -->
      <div ng-repeat="season in dash.seasons" ng-show="season.team_id === dash.team_id" ng-click="dash.showDerivative({obj: season, type: 'season'}, 'games')" ng-class="{'dash':true, 'dash-team':true, 'season-selected': dash.season_id === season.id}">
        <h1>{{season.name}}</h1>
      </div>
    </div>
<!--   </div>
 -->
<!--   <div class="games_row">
 -->    <!-- GAMES ROW -->
    <h2 ng-class="{ 'clear-fix': true, 'games-row': true, 'active-row': dash.isIdSet('season_id')}" ng-click="dash.selectRow('games')">
      Games
    </h2>
    <alert ng-show="dash.showWarning['games']" type="danger" close="dash.closeAlert('games')">
      You must select a season first!
    </alert>


    <!-- Show games per selected game -->
    <div ng-show="dash.isSet('games')" class="games row-transition">

      <!-- Add a new game for selected game -->
      <div class="dash dash-game" ng-click="dash.displayForm('games')">
        <center>
          <h1>+</h1>
        </center>
      </div>

      <form id="gameform" ng-show="dash.shouldDisplay('games')" ng-submit="dash.addNewGame()">
        <fieldset class="form-group">
          <input type="text" class="" placeholder="Date: 9/3/07" title="Date" datepicker-popup="shortDate" ng-model="dash.newGameInfo.date" is-open="dash.dateOpened" min-date="" max-date="n " datepicker-options="dateOptions" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
            <button type="button" class="btn btn-default" ng-click="dash.openDate($event)"><i class="glyphicon glyphicon-calendar fa-lg"></i></button>
         </input>
        </fieldset>
        <fieldset class="form-group">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="dash.newGameInfo.location" btn-radio="'Home'">Home</label>
            <label class="btn btn-primary" ng-model="dash.newGameInfo.location" btn-radio="'Away'">Away</label>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <input ng-model="dash.newGameInfo.opponent" type="text" placeholder="Opponent" title="Opponent">
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" value="Create Game" class="btn btn-primary">
        </fieldset>
      </form>

      <!-- REPEAT DIV PER GAME -->
      <div class="dash dash-game" ng-repeat="game in dash.games" ng-show="game.season_id === dash.season_id">
        <a ng-href="/game/{{game.id}}/edit"><div title="{{dash.season_name}} Season">
          <p id="dateshow">{{game.date | date : "EEE M/d/yy"}}</p>
          <h3 id="opponentshow">{{game.opponent}}</h3>
          <h1 id="winshow">{{game.win}}<h1>
        </div></a>
      </div>

    </div>
  </div>

</div>
